<a href="https://colab.research.google.com/github/AnastasiyaKrokhina/co-crystals-by-a.krokhina/blob/main/notebooks/data_preparating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [92]:
url11 = 'https://raw.githubusercontent.com/AnastasiyaKrokhina/co-crystals-by-a.krokhina/main/coformers1.csv'
url12 = 'https://raw.githubusercontent.com/AnastasiyaKrokhina/co-crystals-by-a.krokhina/main/coformers2.csv'
url21 = 'https://raw.githubusercontent.com/AnastasiyaKrokhina/co-crystals-by-a.krokhina/main/dataset1.csv'
url22 = 'https://raw.githubusercontent.com/AnastasiyaKrokhina/co-crystals-by-a.krokhina/main/dataset2.csv'

In [93]:
df11 = pd.read_csv(url11)
df12 = pd.read_csv(url12)
df21 = pd.read_csv(url21)
df22 = pd.read_csv(url22)

In [4]:
df11.head()

,Identifier,NAME,MW,AMW,Sv,Se,Sp,Si,Mv,Me,...,Inflammat-80,Inflammat-50,Depressant-80,Psychotic-80,Hypertens-80,Hypnotic-80,Neoplastic-80,Neoplastic-50,Infective-80,Infective-50
0,WOVMEB,Cc1ccccc1C,106.18,5.899,10.634,17.418,11.807,20.076,0.591,0.968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PIWKEL,O=C1C=CC2=C(C=C1)C(=O)C1=C(C=CC(=O)C=C1)C2=O,264.24,9.437,20.966,28.844,20.864,30.498,0.749,1.030,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
2,OTIHIJ,CN(C)c1ccc(cc1)C(C(C1=CC=C2C=CC=CC=C12)C1=C2C=...,520.76,6.852,48.998,74.225,52.955,84.055,0.645,0.977,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DABLOJ,CCOC(C)=O,88.12,6.294,7.537,14.189,7.955,16.080,0.538,1.014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,PIGJUK,CSC1=Cc2ccc3SC(=Cc4ccc(S1)c2c34)SC,332.56,10.393,23.909,31.607,27.159,34.171,0.747,0.988,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,AFOTIB,COc1ccc(cc1)N(c1ccc(OC)cc1)c1ccc(cc1)C1=Cc2c([...,1297.20,9.200,97.765,140.410,104.728,154.560,0.693,0.996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1718,CIQNIC,CC(C)(C)[Si]12[Si]3(C(CCC3([Si](C)(C)C)[Si](C)...,1143.08,6.350,108.711,169.700,141.070,199.664,0.604,0.943,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1719,DIVZUG,CCCCCCC1c2cc3C(CCCCCC)c4cc5C(CCCCCC)c6cc7C(CCC...,1353.84,8.059,111.496,168.014,118.637,186.628,0.664,1.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1720,PIQTOB,[BH3][As]([BH2-][N+](C)(C)C)(c1ccccc1)c1ccccc1,314.94,7.324,NaN,41.447,30.654,47.619,NaN,0.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721,RAWXEU,Brc1ccc(Oc2nc(Oc3ccc(Br)cc3)nc(Oc3ccc(Br)cc3)n...,594.06,14.144,32.445,43.276,34.006,46.139,0.773,1.030,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df21.head()

,id,smiles1,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,ADOSOE,CCC1=C(CC)C2=C(c3ccccc3)c4c(CC)c(CC)c5c6cccc(n...,81.49554264,57.05864535,0,0,135.945358,2.728066,5.315293,135.945358,...,12.047985,165.045327,1365.703304,7.342491,46827.0,237.0,600.0,777.0,32.604167,22.500000
1,ASOPUV,Cc1sc(C)c2SC3=C(Sc4c(C)sc(C)c4S3)Sc12,16.41793436,13.49800851,0,0,26.138494,2.540501,4.981792,26.138494,...,10.239495,70.970615,371.926326,11.622698,737.0,36.0,118.0,147.0,6.611111,4.111111
2,ASOQIK,COc1cc2SC3=C(Sc4cc(OC)c(OC)cc4S3)Sc2cc1OC,20.30389608,15.08127704,0,0,34.684121,2.504108,5.008215,34.684121,...,10.392037,61.556882,423.993143,10.095075,1653.0,48.0,142.0,173.0,8.111111,5.888889
3,ASOQOQ,Cc1sc(C)c2SC3=C(Sc4ccccc4S3)Sc12,15.57292821,12.07186337,0,0,25.544066,2.513330,4.968481,25.544066,...,10.138362,67.536535,337.938605,11.653055,649.0,33.0,110.0,135.0,5.138889,3.972222
4,BODCEE,Cn1c2cccc(n2)n(Cc3ccc4ccc5cccc6ccc3c4c56)c7cc(...,79.72513902,42.60016799,0,0,133.964519,2.559373,5.118746,133.964519,...,11.842941,138.604859,1239.492137,8.101256,49806.0,201.0,570.0,711.0,20.833333,20.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037,YOZPAH,C[Si]1(C)O[Si](C)(C)O[Si]2(O[Si]3(O[Si]4(O[Si]...,74.95325226,51.43308016,0,0,116.560221,2.689624,5.379248,116.560221,...,11.844593,134.432989,1476.180137,8.786787,29974.0,196.0,540.0,656.0,28.263889,18.833333
2038,MUGTOA,CCC(CC)N1C(=O)c2cc(Br)c3Sc4ccccc4c5c(Br)cc(C1=...,23.20592137,17.71820407,0,0,38.469293,2.642839,5.285678,38.469293,...,10.782222,65.793581,528.934674,11.498580,1872.0,64.0,168.0,214.0,9.805556,6.305556
2039,MUKKIP,CCCCN1C(=O)c2c(Br)c(Br)c3c4c(Br)c(Br)c5C(=O)N(...,36.78814655,27.54471541,0,0,59.400945,2.737863,5.475726,59.400945,...,11.385830,85.413966,1125.473354,17.585521,6245.0,115.0,272.0,356.0,18.388889,9.888889
2040,QUKBUW,Cc1ccccc1,5.059137268,4.785854275,0,0,8.720566,2.101003,4.202006,8.720566,...,8.124151,33.544698,92.062600,6.137507,42.0,5.0,30.0,31.0,2.361111,1.666667
2041,TUGYAY,Cc1ccccc1,5.059137268,4.785854275,0,0,8.720566,2.101003,4.202006,8.720566,...,8.124151,33.544698,92.062600,6.137507,42.0,5.0,30.0,31.0,2.361111,1.666667

In [17]:
# how much unique values
len(df11.Identifier.append(df21.id).unique())

2137

In [94]:
df1 = pd.merge(df11[['Identifier', 'NAME']], df12[['Identifier', 'NAME']], how = 'left', on = 'Identifier').fillna('')
df1.head()

,Identifier,NAME_x,NAME_y
0,WOVMEB,Cc1ccccc1C,C[Si](C)(C)C1=C2SC3=C(C4=C(S3)C3=C(S4)C(=C(SC4...
1,PIWKEL,O=C1C=CC2=C(C=C1)C(=O)C1=C(C=CC(=O)C=C1)C2=O,S1C=CSC1=C1SC=CS1
2,OTIHIJ,CN(C)c1ccc(cc1)C(C(C1=CC=C2C=CC=CC=C12)C1=C2C=...,c1ccccc1
3,DABLOJ,CCOC(C)=O,CC(C)C1=CC=C(C)C2=C(C=C(C)C2=C1)C1C=CC(c2ccc(c...
4,PIGJUK,CSC1=Cc2ccc3SC(=Cc4ccc(S1)c2c34)SC,N#CC(C#N)=C1C=CC2=CC(C=CC2=C1)=C(C#N)C#N

In [95]:
df1.columns = ['id', 'smiles1', 'smiles2']

In [96]:
df2 = pd.merge(df21[['id', 'smiles1']], df22[['id', 'smiles2']], how = 'left', on = 'id').fillna('')
df2.head()

,id,smiles1,smiles2
0,ADOSOE,CCC1=C(CC)C2=C(c3ccccc3)c4c(CC)c(CC)c5c6cccc(n...,c%17%18c%19c%20c%21c%22c%23c%24c%25c%26c%27c%2...
1,ASOPUV,Cc1sc(C)c2SC3=C(Sc4c(C)sc(C)c4S3)Sc12,c56c7c8c9c%10c%11c%12c%13c%14c%15c%16c%13c%17c...
2,ASOQIK,COc1cc2SC3=C(Sc4cc(OC)c(OC)cc4S3)Sc2cc1OC,c56c7c8c9c%10c%11c%12c%13c%14c%15c%16c%13c%17c...
3,ASOQOQ,Cc1sc(C)c2SC3=C(Sc4ccccc4S3)Sc12,c56c7c8c9c%10c%11c%12c%13c%14c%15c%16c%13c%17c...
4,BODCEE,Cn1c2cccc(n2)n(Cc3ccc4ccc5cccc6ccc3c4c56)c7cc(...,c%20%21c%22c%23c%24c%25c%26c%27c%28c%29c%30c%3...

In [97]:
df = pd.concat([df1, df2], ignore_index=True).drop_duplicates(subset=['id'])

In [98]:
df.smiles1

0                                              Cc1ccccc1C
1            O=C1C=CC2=C(C=C1)C(=O)C1=C(C=CC(=O)C=C1)C2=O
2       CN(C)c1ccc(cc1)C(C(C1=CC=C2C=CC=CC=C12)C1=C2C=...
3                                               CCOC(C)=O
4                      CSC1=Cc2ccc3SC(=Cc4ccc(S1)c2c34)SC
                              ...
3759    C[Si]1(C)O[Si](C)(C)O[Si]2(O[Si]3(O[Si]4(O[Si]...
3760    CCC(CC)N1C(=O)c2cc(Br)c3Sc4ccccc4c5c(Br)cc(C1=...
3761    CCCCN1C(=O)c2c(Br)c(Br)c3c4c(Br)c(Br)c5C(=O)N(...
3762                                            Cc1ccccc1
3763                                            Cc1ccccc1
Name: smiles1, Length: 2137, dtype: object

In [36]:
# Import the libraries

import sys
import json
import tempfile
import numpy as np
import pandas as pd
import os.path
import warnings
warnings.filterwarnings('ignore')

!pip install kora -q
!pip install mordred
import kora.install.rdkit

     |████████████████████████████████| 57 kB 4.0 MB/s
     |████████████████████████████████| 1.6 MB 22.1 MB/s
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mordred
  Downloading mordred-1.2.0.tar.gz (128 kB)
     |████████████████████████████████| 128 kB 15.9 MB/s
Requirement already satisfied: six==1.* in /usr/local/lib/python3.7/dist-packages (from mordred) (1.15.0)
Requirement already satisfied: numpy==1.* in /usr/local/lib/python3.7/dist-packages (from mordred) (1.21.6)
Requirement already satisfied: networkx==2.* in /usr/local/lib/python3.7/dist-packages (from mordred) (2.6.3)
Building wheels for collected packages: mordred
  Building wheel for mordred (setup.py) ... done
  Created wheel for mordred: filename=mordred-1.2.0-py3-none-any.whl size=176725 sha256=b3183fcbbf478b54392a0c0e874bfc84f067652c81e0cf83e67962e31a70b8e1
  Stored in directory: /root/.cache/pip/wheels/02/c0/2e/e7e3d63b431777712ebc128bc4deb9ac5cb19afc7c1ea341ec
Successfully built mordred
Installing collected packages: mordred
Successfully installed mordred-1.2.0

In [37]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [38]:
from rdkit import Chem
from mordred import Calculator, descriptors

In [41]:
calc = Calculator(descriptors, 
                  #ignore_3D=True
                  )
mol = Chem.MolFromSmiles('c1ccccc1')
calc(mol)[:3]

[4.242640687119286, 3.9999999999999996, 0]

In [ ]:
# Calculate the descriptors for the first dataset (first co-former)
#dataset_mol1 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/cocrystal_design/data/dataset_mol1.csv')
descriptors_mol1 =[]
for mol in df.smiles1.values:
    try:
        descriptors_mol1.append(calc(Chem.MolFromSmiles(mol)))
    except TypeError:
        descriptors_mol1.append('none')
# Save the dataset1 with the descriptors
descriptors1 = pd.DataFrame(descriptors_mol1)
df_mol1 = pd.concat((df, descriptors1), axis=1)
df_mol1

In [91]:
df.smiles1.values

<StringArray>
[                                                                      "b'Cc1ccccc1C'",
                                     "b'O=C1C=CC2=C(C=C1)C(=O)C1=C(C=CC(=O)C=C1)C2=O'",
       "b'CN(C)c1ccc(cc1)C(C(C1=CC=C2C=CC=CC=C12)C1=C2C=CC=CC=C2C=C1)c1ccc(cc1)N(C)C'",
                                                                        "b'CCOC(C)=O'",
                                               "b'CSC1=Cc2ccc3SC(=Cc4ccc(S1)c2c34)SC'",
                                                   "b'CC1(C)C2=C(Cl)C=CC3=CC=CC3=C12'",
 "b'COc1cc(C)c(c(C)c1)c1cc(c2ccc3c(cc(c4ccc1c2c34)c1c(C)cc(OC)cc1C)c1c(C)cc(OC)cc1C)'",
                                                                        "b'CCOC(C)=O'",
                                              "b'Brc1c(cc(cc1N(=O)=O)N(=O)=O)N(=O)=O'",
                                                           "b'Fc1c(F)c(I)c(F)c(F)c1I'",
 ...
                                                                        "b'Cc1ccccc1'",
 "b'CCCOc1ccc(cc1)c2oc(nn2)c3nc(nc(n3)c4oc(nn4)c5ccc(OCCC)cc5)c6oc(nn6)c7ccc(OCCC)cc'",
 "b'CCC1c2cc3C(CC)c4cc5C(CC)c6cc7C(CC)c8cc9C(CC)c%10cc%11C(CC)c%12cc1c%13C=Cc2cc3C=C'",
 "b'CC1(C)N([O])C(=[N+]([O-])C1(C)C)c2ccc3N(c4ccccc4)c5cc(ccc5N(c6ccccc6)c3c2)C7=[N+'",
              "b'CC(C)c1cccc(C(C)C)c1[n+]2cc([Se-])n(c2c3ccccc3)c4c(cccc4C(C)C)C(C)C'",
 "b'C[Si]1(C)O[Si](C)(C)O[Si]2(O[Si]3(O[Si]4(O[Si](C)(C)O[Si](C)(C)O[Si](C)(C)O[Si]5'",
                            "b'CCC(CC)N1C(=O)c2cc(Br)c3Sc4ccccc4c5c(Br)cc(C1=O)c2c35'",
 "b'CCCCN1C(=O)c2c(Br)c(Br)c3c4c(Br)c(Br)c5C(=O)N(CCCC)C(=O)c6c(Br)c(Br)c(c7c(Br)c(B'",
                                                                        "b'Cc1ccccc1'",
                                                                        "b'Cc1ccccc1'"]
Length: 2137, dtype: string